* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  margin: 0 auto;
  width: 1200px;
}

header {
  width: 100%;
  height: 100px;
}

#logo {
  float: left;
}

#contents {
  position: relative;
  height: 200px;
  width: 100%;
}

#form-left {
 position: absolute;
 left:13%;
 top: 30%;

}
#form-right {
  position: absolute;
  right: 14%;
  top: 30%;
}

#textarea {
  margin-top: 60px;
  width: 100%;
  position:absolute;
  
}

li {
  font-size: 20px;
  list-style: none;
  font-weight: bold;
  color: rgba(80, 120, 78, 1);
}
#memo {
  position: relative;
  background-color: rgba(237, 237, 237, 1);
  border: none;
  border-radius: 20px;
  width: 830px;
  height: 200px;
  left: 13%;
}

footer {
  width: 100%;
  height: 100px;
}

p {
  font-size: 1px;
  font-weight: bold;
  color:rgba(80, 120, 78, 1)
}

#qna {
  position: relative;
  color: rgba(80, 120, 78, 1);
  font-size: 26px;
  left:13%;
}

::placeholder {
  color: rgba(80, 120, 78, 1);
}

footer {
  display: flex;
  position: absolute;
 }

 #btn-1 {
  background-color: rgba(51, 67, 38, 1);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 60px 10px 60px;
  border: none;
  position: relative;
  left:140%;
  top: 350px;
 }

 #info {
  position: relative;
  left: 13%;
  top: 350px
 }


 ul li {
  height: 70px;
 }
 input {
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 5px 5px 5px rgb(164, 161, 161);
 }

  
 


 

